<div class="row">
    <div class="col-lg-12">
        <br>
        <div class="row">
            <h2>MUFFINS</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <figure>
                    <img src="img/1.png" alt="description of image" />
                    <figcaption>muffin 1</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <figure>
                    <img src="img/2.png" alt="description of image" />
                    <figcaption>muffin 2</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <figure>
                    <img src="img/3.png" alt="description of image" />
                    <figcaption>muffin 3</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6">
                <figure>
                    <img src="img/4.png" alt="description of image" />
                    <figcaption>muffin 4</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6">
                <figure>
                    <img src="img/5.png" alt="description of image" />
                    <figcaption>muffin 5</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6">
               <figure>
                    <img src="img/6.png" alt="description of image" />
                    <figcaption>muffin 6</figcaption>
                </figure>
            </div>

        </div>
        <br>

    </div>
</div>